/*======================
01 . counter up section
02 . blog post section
03 . call to action 
04 - Client Carousel Section
05 - accordion-toggle event 
06 - Events Section
07 -information box 
08 -portfolio  
======================*/
img {
    width: 100%;
}
.cx-testimonial{
    padding-top: 30px ;
}
.cx-events-wrapper-4 span.prev{
    left: 40px ;
}
.cx-events-wrapper-4 span.next{
    right: 40px ;
}
.cx-events-wrapper-4 span.prev,
.cx-events-wrapper-4 span.next{
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ;

}
.cx-events-wrapper-4:hover span.prev,
.cx-events-wrapper-4:hover span.next{
    opacity: 1;
    visibility: visible;
}
.cx-events-wrapper-4:hover span.prev{
    left: -50px;
}
.cx-events-wrapper-4:hover span.next{
    right: -50px;
}
.cx-blog-2 .col-md-3.col-sm-6 .img-thumb .cx-blog-btn {
    padding: 5px 10px;
}
.cx-testimonial-5 .testimonial-content {
    display: block;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {

/*======================
04 - Client Carousel Section
======================*/
/*.cx-client-carousel-2 .col-lg-3.client-image-single {
    width: 50%;
    float: left;
}
*/
.cx-client-carousel-2 .client-image-single {
    border: 1px solid #dedede; 
}
.cx-client-carousel-2 .client-image-single:nth-child(even) {
      border-right:1px solid #dedede; 
}
.cx-client-carousel-2 .client-image-single:nth-child(odd) {
        border-right: none;
}
.cx-client-carousel-2 .client-image-single:nth-child(even) ,
.cx-client-carousel-2 .client-image-single:nth-child(odd) {
    border-top: 0 ;
}
.clients-first-row  .client-image-single:nth-child(1),
.clients-first-row  .client-image-single:nth-child(2){
   border-top: 1px solid #dedede; 
}
.clients-second-row  .client-image-single:nth-child(1),
.clients-second-row  .client-image-single:nth-child(2){
    border: 1px solid #dedede; 
    border-top: 0 ;
}

.clients-second-row .client-image-single:nth-last-child(1),
.clients-second-row .client-image-single:nth-last-child(2) {
    border: 1px solid #dedede; 
    border-top: 0px solid #dedede; 
}
.clients-second-row .client-image-single:nth-last-child(2),
.clients-second-row .client-image-single:nth-child(odd) {
    border-right: none;
}
/*========================*
    08 -portfolio  
========================*/
figure.cx-portfolio {
    width: 50% !important;
}




}  /* end of (min-width: 992px) and (max-width: 1199px) */



@media only screen and (min-width: 768px) and (max-width: 991px) {

/*======================
01 . counter up section
======================*/
.cx-animated-counter {
    padding: 0;
}
.cx-animated-counter .project .counter{
	font-size: 45px;
}
/*======================
02 . blog post section
======================*/

.img-wrapper img {
    width: 100%;
}
/**
 * Codexin  blog 2
 *
 */
.cx-blog-2 .cx-blog-btn {
    padding: 5px 8px;
    font-size: 14px;
}
.cx-blog-2 .date-time p:first-child,
.cx-blog-2 .date-time p{
    font-size: 16px;
    text-transform: capitalize;
}
.cx-blog-2 .blog-title a{
	text-transform: capitalize;
}

/**
 * Codexin  blog 3
 *
 */
.cx-blog-3 .blog-wrapper-right .img-thumb {
    width: 100px;
}
.cx-blog-3 .blog-wrapper-right .media-wrapper-right {
    display: block;
}

/**
 * Codexin  blog 4
 *
 */
.cx-blog-4 .blog-wrapper .blog-category a {
    padding: 0px 5px;
}
.cx-blog-4 .blog-wrapper .blog-title {
    margin-top: 10px;
    margin-bottom: 5px;
}
.cx-blog-4 .blog-wrapper .blog-title a {
    font-size: 16px;
}

/**
 * Codexin CTA Type 03
 *
 */
.cx-cta-2 .cx-content {
    font-size: 30px;
}

/*======================
04 - Client Carousel Section
======================*/
/*.cx-client-carousel-2 .col-lg-3.client-image-single {
    width: 50%;
    float: left;
}
*/
.cx-client-carousel-2 .client-image-single {
    border: 1px solid #dedede; 
}
.cx-client-carousel-2 .client-image-single:nth-child(even) {
      border-right:1px solid #dedede; 
}
.cx-client-carousel-2 .client-image-single:nth-child(odd) {
        border-right: none;
}
.cx-client-carousel-2 .client-image-single:nth-child(even) ,
.cx-client-carousel-2 .client-image-single:nth-child(odd) {
    border-top: 0 ;
}
.clients-first-row  .client-image-single:nth-child(1),
.clients-first-row  .client-image-single:nth-child(2){
   border-top: 1px solid #dedede; 
}
.clients-second-row  .client-image-single:nth-child(1),
.clients-second-row  .client-image-single:nth-child(2){
    border: 1px solid #dedede; 
    border-top: 0 ;
}

.clients-second-row .client-image-single:nth-last-child(1),
.clients-second-row .client-image-single:nth-last-child(2) {
    border: 1px solid #dedede; 
    border-top: 0px solid #dedede; 
}
.clients-second-row .client-image-single:nth-last-child(2),
.clients-second-row .client-image-single:nth-child(odd) {
    border-right: none;
}
/*==========================
    006 - Events Section
==========================*/

/*.cx-events-wrapper-3 .col-md-6.col-sm-12 ,
.cx-events-wrapper-3 .col-md-3.col-sm-12 ,
.cx-events-wrapper-2 .col-md-6.col-sm-12 ,
.cx-events-wrapper-2 .col-md-3.col-sm-12 {
    width: 50%;
}*/
.cx-events-wrapper-3 img,
.cx-events-wrapper-4 .item img ,
.cx-events-wrapper-2 img {
    width: 100%;
}
/*========================*
    08 -portfolio  
========================*/
figure.cx-portfolio {
    width: 50% !important;
}
/*========================*
09 -services section   
========================*/
.cx-service-box .service-single-4{
    padding: 15px ;
}
.cx-service-box .service-single-3,
.cx-service-box .service-single-2 {
    padding: 35px 15px 35px;
}
.cx-service-box .service-single-4 .media-thumb i {
    font-size: 35px;
}
.cx-service-box .service-single-4 .media-thumb {
    width: 70px;
    height: 70px;
    line-height: 70px;
}


}  /* end of (min-width: 768px) and (max-width: 991px) */



@media only screen and (max-width: 767px) {
/*======================
01 . counter up section
======================*/
.cx-animated-counter {
    padding: 0;
    margin-bottom: 30px;
}
.cx-animated-counter .project .counter{
	font-size: 50px;
}
.cx-animated-counter .project{
	padding: 50px 0px;
}
/*======================
02 . blog post section
======================*/

.img-wrapper img {
    width: 100%;
}
/**
 * Codexin  blog 2
 *
 */
.cx-blog-2 .cx-blog-btn {
    padding: 10px 10px;
}
.cx-image-box .img-thumb,
.blog-wrapper ,
.blog-wrapper .img-thumb,
.blog-wrapper .img-thumb .img-wrapper ,
.cx-blog-2 .blog-wrapper  {
    max-width: 100%;
    width: 100% ;
}

.blog-wrapper .img-thumb img,
.cx-blog-2 .blog-wrapper .img-thumb img{
    width: 100% ;
}
/**
 * Codexin  blog 3
 *
 */

.cx-blog-3 .row {
    display: block;
}
.cx-blog-3 .img-thumb {
    max-width: 100%;
    width: 100%;
}
.cx-blog-3 .img-thumb img{
    width: 100%;
}
.cx-blog-3 .blog-wrapper-left {
    margin-bottom: 30px;
}
.cx-blog-3 a.thumbnail-link {
    display: table-row;
    background-image: none !important ;
}

.cx-blog-3 .blog-wrapper-right .img-thumb img{
    opacity: 1;
    visibility: visible;
}
.cx-blog-3 .blog-wrapper-right .img-thumb{
    width: 100%;
}
.cx-blog-3 .blog-wrapper-right li {
    display: block;
}
.cx-blog-3 a.thumbnail-link {
    display: block;
}
/*======================
03 . call to action 
======================*/
.cx-cta .cta-content{
    display: block;
    text-align: center;
}
.cx-cta .cta-content .cta-details {
    margin: 25px 0;
    margin-right: 0;
}
.cx-cta-2 .cx-content {
    font-size: 20px;
}

/*======================
04 - Client Carousel Section
======================*/
.clients-first-row  .client-image-single:nth-child(1){
    border: 1px solid #dedede;
}
.clients-first-row  .client-image-single{
   border: 1px solid #dedede;
   border-top: 0px solid #dedede;
}
.cx-client-carousel-2 .client-image-single:last-child {
    border-right:  1px solid #dedede;
}
.cx-client-carousel-2 .clients-second-row .client-image-single{
   border-left: 1px solid #dedede;
   border-bottom: 1px solid #dedede;
}

/*======================
05 - accordion-toggle event 
======================*/
.panel-title a.accordion-toggle {
    font-size: 14px;
}
/**
 * event 4
 *
 */
.cx-events-wrapper-4 .item img {
    width: 100%;
}
/*======================
07 -information box 
======================*/
.contest-wrapper{
    max-width: 100% !important;
}
/*========================*
    08 -portfolio  
========================*/
figure.cx-portfolio {
    width: 50% !important;
}
/*========================*
09 -services section   
========================*/
.cx-service-box .service-single-3,
.cx-service-box .service-single-2 {
    padding: 35px 15px 35px;
}
.cx-service-box .service-single-4{
    padding: 15px ;
}
.cx-service-box .service-single-4 .media-thumb {
    width: 80px;
    height: 80px;
}














}  /* end of (max-width: 767px) */



@media only screen and (max-width: 480px) {
/*======================
01 . counter up section
======================*/
.cx-animated-counter .project .counter {
    font-size: 40px;
}
/*========================*
    08 -portfolio  
========================*/
figure.cx-portfolio {
    width: 100% !important;
}



}  /* end of (max-width: 480px) */