.widget-title {
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 40px;
}

.reveal-widget .media {
    margin-bottom: 30px;
}

.reveal-widget .media .media-body {
    padding-top: 10px;
}

.reveal-widget .media .blog-info {
    padding-top: 5px;
}

.media-object {
    max-width: none;
}

/************************************************************
    Instagram widget
*************************************************************/

.codexin-instagram-widget .instagram-images img {
    width: 100%;
}

.codexin-instagram-widget .instagram-images a {
    position: relative;
    display: block;
    float: left;
    width: 32%;
    margin-right: 1%;
    margin-bottom: 1%;
}

.codexin-instagram-widget .hoverable {
    content: "";
    position: absolute;
    width: 100%;
    height: 0%;
    left: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.codexin-instagram-widget .instagram-images a:hover .hoverable {
    opacity: 1;
    height: 100%;
}

/************************************************************
    Mailchimp widget
*************************************************************/

.mailchimp-success {
	display: none;
    font-size: 90%;
    padding-top: 10px;
    text-align: center;
    line-height: 20px;
	color: #148a14;
}

.codexin-mailchimp-wrapper {
    padding: 10px;
    background: #eee;
}

.mailchimp-firstname,
.mailchimp-lastname,
.mailchimp-email {
	width: 100%;
    margin-bottom: 10px;
}

.mailchimp-firstname::-webkit-input-placeholder,
.mailchimp-lastname::-webkit-input-placeholder,
.mailchimp-email::-webkit-input-placeholder,
.mailchimp-firstname:-ms-input-placeholder,
.mailchimp-lastname:-ms-input-placeholder,
.mailchimp-email:-ms-input-placeholder,
.mailchimp-firstname::-moz-placeholder,
.mailchimp-lastname::-moz-placeholder,
.mailchimp-email::-moz-placeholder {
	color: #777;
	font-size: 85%;
}

.mailchimp-submit {
    width: 100%;
    border-radius: 0;
    padding: 8px 10px;
    outline: 0;
    border: 0;
    background: #295970;
    color: #fff;
    border-top:1px solid #295970;
    border-bottom:1px solid #295970;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.mailchimp-submit[disabled] {
	cursor: not-allowed;
	filter: alpha(opacity=65);
	opacity: .65;
}

.mailchimp-submit:hover {
    background: #002037;
}

.mailchimp-desc p {
    font-size: 85%;
    margin-bottom: 15px;
    font-style: italic;
    color: #666;
}

.mailchimp-error {
    color: #ec4b4b;
    font-size: 90%;
    padding-top: 10px;
    display: none;
    text-align: center;
    line-height: 20px;
}

.inside-page .mailchimp-submit {
    padding-left: 20px;
    padding-right: 20px;
}

.inside-page .codexin-mailchimp-wrapper {
    padding:40px 15px 30px;
}

.inside-page form.mailchimp-form > div {
    margin-right: 10px;
    margin-left: 10px;
}

.inside-page form.mailchimp-form,
.inside-page .codexin-mailchimp-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and ( min-width: 768px ) {
    .inside-page .mailchimp-desc {
        width:40%;
    }

    .inside-page form.mailchimp-form {
        width:60%;
    }
}

.inside-page .mailchimp-desc p,
.inside-page form.mailchimp-form .mailchimp-input-button {
    margin-bottom: 10px;
}


.inside-page .mailchimp-success {
    padding-top: 0;
    margin-bottom: 10px;
}

.inside-page .codexin-mailchimp-wrapper {
    background: transparent;
}

.inside-page .mailchimp-desc p {
    color:inherit;
    font-size: inherit;
    font-style: inherit;
}

.inside-page .mailchimp-error {
    padding-top: 0;
}

/************************************************************
    Address Box
*************************************************************/

.codexin-address-box {
    margin-bottom: 30px;
}

.codexin-address-box a:hover {
    text-decoration: none;
}

.codexin-address-box p {
    margin-bottom: 0;
}

.cx-company-name {
    text-transform: uppercase;
    font-weight: bold;
}

.codexin-address-box .cx-address {
    margin-bottom: 5px;
}

.codexin-address-box p.widget-title {
    margin-bottom: 40px;
}
.codexin-address-box .cx-company-name,
.codexin-address-box .cx-company-description {
    margin-bottom: 10px;
}

.cx-phone,
.cx-fax,
.cx-email,
.cx-email,
.cx-address,
.cx-website {
    position: relative;
    padding-left: 25px;
}

.cx-address::before {
    content:"\f0f7";
    font-family: FontAwesome;
    position: absolute;
    top:0;
    left:0;
}

.cx-phone::before {
    content:"\f2a0";
    font-family: FontAwesome;
    position: absolute;
    top:0;
    left:0;
}

.cx-fax::before {
    content:"\f1ac";
    font-family: FontAwesome;
    position: absolute;
    top:0;
    left:0;
}

.cx-email::before {
    content:"\f003";
    font-family: FontAwesome;
    position: absolute;
    top:0;
    left:0;
}

.cx-website::before {
    content:"\f0ac";
    font-family: FontAwesome;
    position: absolute;
    top:0;
    left:0;
}

/************************************************************
    Popular Posts
*************************************************************/

.posts-single {
    margin-bottom: 20px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
}

.posts-single .blog-info {
    padding:0;
}

.posts-single-left a {
    width: 80px;
    height: 80px;
    display: block;
}

.posts-single-right {
    width: calc(100% - 95px);
    word-wrap: break-word;
}

.posts-single  .blog-info span {
    margin-right: 15px;
}

.posts-single  .blog-info span.cx-icon {
    margin-right: 6px;
}

.posts-single-left {
    max-width: 80px;
    margin-right: 15px;
    float: left;
    margin-bottom: 0;
}

.posts-single .blog-info span, .posts-single-right .cx-count, .blog-info .fa {
    font-style: italic;
}

.posts-single-left a img {
    display: block;
}

.posts-single-right h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.posts-single-right p {
    margin: 0;
    padding: 0;
    color: #555;
    font-size: 13px;
    font-style: italic;
    line-height: 1.5em;
    float: left;
    margin-right: 15px;
}

.posts-single-right .cx-icon {
    font-size: 12px;
    margin-right: 6px;
    color: #555;
    font-style: italic;
}

.posts-single-right p + span {
    font-size: 13px;
    float: left;
    display: block;
    line-height: 1.5em;
}

/************************************************************
    Social widget
*************************************************************/

.codexin-social-widget .italic {
    margin-right: 20px;
}

.codexin-social-widget i {
    margin: 0 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

/************************************************************
    Popular projects
*************************************************************/

.codexin-recent-projects-widget  .posts-single-right p,
.codexin-popular-project-widget  .posts-single-right p {
    margin-right: 0;
    display: block;
    width:100%;
}

/************************************************************
    Social Share
*************************************************************/

.codexin-social-share-widget .caption {
    display: inline-block;
    margin-right:20px;
}


.codexin-social-share-widget .socials i {
    margin-right: 5px;
}

/************************************************************
    Twitter Feed
*************************************************************/

.twitter-feed-wrapper {
    margin-bottom: 30px;
}

.twitter-feed-left {
    float: left;
    margin-right: 15px;
    width: 48px;
}

.twitter-feed-right {
    float: right;
    width: calc(100% - 63px);
}

.twitter-feed-right h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.twitter-feed-right h4 a {
    font-weight: normal;
}

.twitter-feed-right p {
    font-size: 14px;
    line-height: 1.5em;
    margin-bottom: 5px;
}

.twitter-feed-right a.feed-time {
    font-size: 90%;
}

.twitter-feed-left img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}