
.widget-title {
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 40px;
}

.reveal-widget .media {
    margin-bottom: 30px;
}

.reveal-widget .media .media-body {
    padding-top: 10px;
}

.reveal-widget .media .blog-info {
    padding-top: 5px;
}

.instagram-images img {
    width: 100%;
}

.media-object {
    max-width: none;
}

/* Mailchimp widget */

.mailchimp-success {
	display: none;
    font-size: 90%;
    padding-top: 10px;
    text-align: center;
    line-height: 20px;
	color: #148a14;
}

.codexin-mailchimp-wrapper {
    padding: 10px;
    background: #eee;
}

.mailchimp-firstname,
.mailchimp-lastname,
.mailchimp-email {
	width: 100%;
    margin-bottom: 10px;
}

.mailchimp-firstname::-webkit-input-placeholder,
.mailchimp-lastname::-webkit-input-placeholder,
.mailchimp-email::-webkit-input-placeholder,
.mailchimp-firstname:-ms-input-placeholder,
.mailchimp-lastname:-ms-input-placeholder,
.mailchimp-email:-ms-input-placeholder,
.mailchimp-firstname::-moz-placeholder,
.mailchimp-lastname::-moz-placeholder,
.mailchimp-email::-moz-placeholder {
	color: #777;
	font-size: 85%;
}

.mailchimp-submit {
    width: 100%;
    border-radius: 0;
    padding: 8px 10px;
    outline: 0;
    border: 0;
    background: #295970;
    color: #fff;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.mailchimp-submit[disabled] {
	cursor: not-allowed;
	filter: alpha(opacity=65);
	opacity: .65;
}

.mailchimp-submit:hover {
    background: #002037;
}

.mailchimp-desc p {
    font-size: 85%;
    margin-bottom: 15px;
    font-style: italic;
    color: #666;
}

.mailchimp-error {
    color: #ec4b4b;
    font-size: 90%;
    padding-top: 10px;
    display: none;
    text-align: center;
    line-height: 20px;
}

/************************************************************
    Address Box
*************************************************************/

.codexin-address-box {
    margin-bottom: 30px;
}

.codexin-address-box a:hover {
    text-decoration: none;
}

.codexin-address-box p {
    margin-bottom: 0;
}

.cx-company-name {
    text-transform: uppercase;
    font-weight: bold;
}

.codexin-address-box .cx-address {
    margin-bottom: 5px;
}

.codexin-address-box p.widget-title {
    margin-bottom: 40px;
}
.codexin-address-box .cx-company-name,
.codexin-address-box .cx-company-description {
    margin-bottom: 10px;
}

.cx-phone,
.cx-fax,
.cx-email,
.cx-email,
.cx-address,
.cx-website {
    position: relative;
    padding-left: 25px;
}

.cx-address::before {
    content:"\f0f7";
    font-family: FontAwesome;
    position: absolute;
    top:0;
    left:0;
}

.cx-phone::before {
    content:"\f2a0";
    font-family: FontAwesome;
    position: absolute;
    top:0;
    left:0;
}

.cx-fax::before {
    content:"\f1ac";
    font-family: FontAwesome;
    position: absolute;
    top:0;
    left:0;
}

.cx-email::before {
    content:"\f003";
    font-family: FontAwesome;
    position: absolute;
    top:0;
    left:0;
}

.cx-website::before {
    content:"\f0ac";
    font-family: FontAwesome;
    position: absolute;
    top:0;
    left:0;
}